<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="css/<%= @class_name %>.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Oswald|Playfair+Display" rel="stylesheet">
</head>
<body class="<%= @class_name %>">
  <div class="navbar">
    <a href="/">CUTSCENE</a>
    <a href="/sign_in">Sign In</a>
<<<<<<< HEAD
    <a href="/profile">Settings</a>
    <a href="/author">Tell Your Story</a>
    <% if @current_user %>
    <a href="/user/<%= @current_user.id %>">Your Posts</a>
    <% end %>
    <a href="/sign_out" style="float: right;">Sign Out</a>
=======
    <a href="/sign_out" style="float right:">Sign Out</a>
    <a href="">Download</a>
    <a href="/author">Your Page</a>
    <a href="/post/1<%= @user_id %>">Your Posts</a>
>>>>>>> b3f0213cd9f4274c6f5996e6cc7d270d8e9e9632
    <!-- <a href=""> <i class="fa fa-instagram fa-4" aria-hidden="true"></i> </a> -->
  </div>
  <div class="flash">
 <%= flash[:message] %>
 </div>


 <%= yield %>



</body>
</html>