<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/css/<%= @class_name %>.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Oswald|Playfair+Display" rel="stylesheet">
</head>
<body class="<%= @class_name %>">
  <div class="navbar">
    <a class="navlinks" href="/">CUTSCENE</a>
    <a class="navlinks" href="/sign_in">Sign In</a>
    <a class="navlinks" href="/profile">Settings</a>
    <a class="navlinks" href="/author">Tell Your Story</a>
    <a class="navlinks" href="/users">Users</a>
    <% if @current_user %>
    <a class="navlinks" href="/user/<%= @current_user.id %>">Your Posts</a>
    <% end %>
    <a class="navlinks" href="/sign_out" style="float: right;">Sign Out</a>

    <!-- <a href=""> <i class="fa fa-instagram fa-4" aria-hidden="true"></i> </a> -->
  </div>
  <div class="flash">
 <%= flash[:message] %>
 </div>


 <%= yield %>

</body>
</html>